html{
    font-family: 'Verdana', sans-serif;
}

#display{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black; 
}

#stats{ /*div*/
    border: 3px solid orange;
    width: 30%;
    font-size: 1.7vw;
}

#fish-img{
    width: 30%;
    border: 3px solid green;
    display: block;
}

.controls{
    gap: 10px;
    border: 1px solid blue;
}

.js{ /*the displayed js var*/
    border: 1px solid green;
}

.chem{
        color: orange;
}

.points{
    color: green;
}

#day{
    color: purple;
}