html{
    font-family: 'Verdana', sans-serif;
    background-color: moccasin;
}

#display{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black; 
}

#stats{ /*div*/
    border: 3px solid orange;
    width: 30%;
    font-size: 1.7vw;
    padding: 2vw;
    background-color: antiquewhite;
}

#tank{
    border: 3px solid mediumseagreen;
    background-color: azure;
}

#fish-img{
    width: 30%;
    border: 2px solid aqua;
    display: block;
}

.controls{
    gap: 10px;
    border: 1px solid blue;
    padding: 1.5vw;
}

.js{ /*the displayed js var*/
    border: 1px solid green;
}

.chem{
        color: orange;
}

.points{
    color: green;
}

#day{
    color: purple;
}

#guide{
    font-size: 1.5vw;
    border: 3px solid pink;
    padding: 2vw;
    background-color: bisque;
}

button{
    background-color: peachpuff;
    font-family: Verdana;
    font-size: 1vw;
    padding: 1vw;
}